
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.encabezado-servicios {
    background-color: #1a82f7;
    background: url(../img/servicios/menu_pizza.jpg) no-repeat center;
    background-size: cover;
    height: 250px !important;
    position: relative;
    z-index: 1;
}

.triangulo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.adorno-servicios:after {
    content: '';
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    background: url(../img/servicios/triangle_bg.png) repeat-x;
    background-size: 26px 10px;
}
.encabezado {
    height: 100% !important;
}
.eslogan {
    display: table;
    height: 100%;
    width: 100%;
}

.eslogan-servicios {
    display: flow-root;
    vertical-align: middle;
    text-align: center!important;
    color: #fff !important;
    padding-top: 90px !important;
}

.decorate-servicios{
  font-family: Times New Roman;
  margin-top: 30px !important;
  margin-bottom: 15px !important;
}

.area-servicios {
    position: relative;
    background: #fff;
    text-align: left !important;
}

.banquetes {
        position: relative;
        text-align: center;
        margin-bottom: 70px;
}

.heading-img {
        height: auto;
        width: 40px;
        margin-bottom: 20px;
}

.fuente-banquetes{
   color: #F39C12;
   padding: 2.5%;
}

.contenedor-banquetes {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}
.banquete{
  width:25%;
  max-width:25%
}

.texto-centrado{
    text-align: center!important;
    margin-bottom: 30px !important;
}

.div-banquete {
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}

.cont-liston {
    display: inline-block;
    padding: 0px 30px 0px 20px;
    position: absolute;
    top: 35%;
    left: 4px;
    z-index: 1;
    line-height: 30px;
    font-size: 1.07em;
}
.color-blanco{
    color: #fff !important;
}

.forma-liston{
    position: absolute;
    top: 0;
    left: -3px;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: 15px solid #F1002A;
    border-left: 0;
    border-right: 15px solid transparent;
    width: 100%;
}

.lis-negro{
    border-color: black;
    border-right-color: transparent;
}

.list-verde{
    border-color: #1F8330;
    border-right-color: transparent;
}
.lis-amarillo{
    border-color: #ff01aa;
    border-right-color: transparent;
}

.lis-celeste{
    border-color: #69a2ff;
    border-right-color: transparent;
}

.precio{
  color: #EF0031;
}

.txt-banquete {
    width: 90%;
    height:auto;
    position: relative;
    float: left;
}
.txt-banquete > p {
  color: black;
  font-size: 15px;
  text-align: center;
  font-family: Times New Roman;
}
